body {
  height: 100%;
  font-family: meiryo;
}

header {
  position: relative;
  color: #333;
  z-index: 1;
}

header h1 {
  font-size: 20pt;
  font-family: Arial;
}

header p {
  font-size: 9pt;
  margin-top: -10px;
  padding-left: 10px;
}

header img {
  width: 159px;
  height: 45px;
  margin-top: -20px;
}
main{
  z-index: 1;
}

footer {
  position: absolute;
  bottom: 0;
}

footer img {
  width: 220%;
  margin-left: -10%;
  margin-bottom: -5%;
  z-index: 0;
}
@media screen and (min-width: 480px) {
  footer img {
    width: 180%;
    margin-left: -10%;
  }
}
@media screen and (min-width: 768px) and ( max-width: 1024px) {
  footer img {
    width: 120%;
    margin-left: -5%;
  }
}
@media screen and (min-width: 1024px) {
  footer img {
    width: 100%;
    margin-left: 0;
  }
}

/*-------------ここまでbody,header,footer-------------*/

/*-------------ここからh1などの要素-------------*/

h1 {
  font-size: 15pt;
}

@media screen and (min-width: 768px) {
  h2 {
    margin-left: 5%;
  }
}

h2 {
  font-size: 15pt;
}

p {
  font-size: 11pt;
}

/*-------------ここまでh1などの要素-------------*/

/*-------------ここからコンテンツ要素-------------*/

/*------Header------*/
.navbar-inverse {
  background-color: #FFF;
  border-color: #FFF;
}

/*------Home------*/

.main-menu {
  margin-left: 10px;
}
.main-menu p{
  margin-top: -10px;
}

.menu-list p{
  font-size: 9pt;
  line-height: 10pt;
  margin-top: 0;
  padding: 5px;
  vertical-align: middle;
}
.btn-black {
  background-color: #222;
  color: #FFF;
}

.btn-block {
  float: left;
  width: 55%;
  margin-right: 5px;
}

@media screen and (min-width: 1024px) {
  .btn-block {
    float: none;
    width: 40%;
    margin-left: 5%;
  }
  .main-menu p{
    margin-left: 5%;
  }
}
.how-to-use {
  position: absolute;
  right: 10%;
  bottom: 25%;
}

/*------Post------*/

.post {
  margin-left: 10px;
}

.post p {
  font-size: 9pt;
  margin-top: -10px;
}

.post .commentList p {
  float: left;
  width: 220px;
}

.post .btn-danger {
  margin-top: 10px;
  margin-left: 240px;
}

.post .btn-default {
  float: left;
  height: 25px;
  width: 65px;
  font-size: 9pt;
  padding:5px;
  margin-left: 5px;
}

.real-time-post {
  margin-top: 20px;
}

.commentList {
  margin-bottom: 20px;
}


/*------Read------*/

.read p,h2{
  margin-left: 10px;
}

.on-air-message img {
  width: 110%;
  z-index: 0;
}
@media screen and (min-width: 480px) {
  .on-air-message img {
    width: 90%;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) and ( max-width: 1024px) {
  .on-air-message img {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .on-air-message img {
    width: 70%;
    margin-left: 0;
  }
}
.read-select-btn .btn{
  margin-left: 10px;
}
