body {
  height: 100%;
}

header {
  color: #333;
}

header h1 {
  font-size: 20pt;
}

header p {
  font-size: 10.5pt;
}

header img {
  width: 45px;
  height: 45px;
  margin-top: -20px;
}

.btn-black {
  background-color: #222;
  color: #FFF;
}
.btn-block {
  margin: 0 auto;
  width: 80%;
}

h1 {
  font-size: 16pt;
}

.navbar-inverse {
  background-color: #FFF;
  border-color: #FFF;
}

.commentList {
  margin-bottom: 20px;
}